[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
aiomysql = "*"
alembic = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
python-dotenv = "*"
cryptography = "*"
docker = "*"
aiodocker = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.12"
